// Specific CSS for your home-page

article {
  background-color: #e8ede6;
}

.homepage-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  img {
    width: 100px;
  }
}
.top_container{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position:absolute;
  color: rgb(1, 0, 0);
  margin-top:0;
  margin-right:0;
}

#meteoImg Img{
  width: 40px;
  height:40px;
}

.btn-primary{
background: #0d6dfd00;
border-color: #0d6dfd00;
}

#meteoLogo Img{
  width: 40px;
  height:40px;
}
