<p>Hello</p>

<%# <h2>--Somehow insert animal name here</h2> %>
<%# <p><%= finding.address %></p> %>
<%# <p>Found at <%= finding.date %></p> %>
<%#  %>
<%# <%= link_to "See details (!!Check link!!)", finding_path(finding), :class => "btn btn-highlight text-center" %> %>
