<div class="container">
  <h1>Edit my finding</h1>

  <div class="container">
    <%= simple_form_for([@finding]) do |f| %>
<%# Add this %>
    <% end %>
  </div>

  <%= link_to "Back to the finding", finding_path(finding), class: "btn btn-ghost"  %>
  </div>
</div>
