<h1>Profile</h1>

<div data-controller="tabs">
  <ul class="list-inline tabs-underlined" >
    <li data-action="click->tabs#changeTab">
      <span data-tabs-target="tablink" class="tab-underlined active">My finds</span>
    </li>
    <li data-action="click->tabs#changeTab">
      <span data-tabs-target="tablink" class="tab-underlined">Map</span>
    </li>
    <li data-action="click->tabs#changeTab">
      <span data-tabs-target="tablink" class="tab-underlined">Achievements</span>
    </li>
  </ul>


  <ul data-tabs-target="tabcontent findings">
    <% @my_findings.each do |finding| %>
      <li><%= finding.animal.name %></li>
      <li><%= finding.animal.details %></li>
      <li><%= finding.date %></li>
      <li><%= finding.picture %></li>
    <% end %>
  </ul>

  <div data-tabs-target="tabcontent map" class="border d-none" id="map" style="height: 300px">
    Map
  </div>

  <div data-tabs-target="tabcontent achievements" class="border d-none" id="map" style="height: 300px">
    Achievements
  </div>

</div>
