<div class="footer footer-transparent">
  <div class="footer-links">
    <%= link_to '<i class="fa-solid fa-user-group"></i>'.html_safe,
      '#',
      class: "px-3 d-flex align-items-center ms-0"
    %>
    <%= link_to '<i class="fa-solid fa-house"></i>'.html_safe,
      root_path,
      class: "px-3 d-flex align-items-center ms-0"
    %>
    <%= link_to '<i class="fa-solid fa-user"></i>'.html_safe,
      findings_path,
      class: "px-3 d-flex align-items-center ms-0"
    %>
    <%= link_to '<i class="fa-solid fa-camera"></i>'.html_safe,
      '#',
      class: "px-3 d-flex align-items-center ms-0"
    %>
  </div>
</div>
