
<div data-find-friends-target="list">


  <% if params[:query].blank? %>
    <h1 class="h3"><%= pluralize users.count, 'friend' %> to meet!</h1>
  <% else %>
    <h1 class="h3"><%= pluralize users.count, 'result' %> for <code><%= params[:query] %></code></h1>
  <% end %>
  <div class="foundfriends">
    <% users.each do |user| %>
      <div class="user-card">
        <p><%= user.username %></p>
      </div>
    <% end %>
  </div>

</div>
