
<div data-controller="friendtabs" class="mb-5 pb-5">
  <ul class="list-inline tabs-underlined mb-5" >
    <li data-action="click->friendtabs#changeTab" data-friendtabs-target="friendtablink" class="tab-underlined active" id="friendslist">
      <span>Friends list</span>
    </li>
    <li data-action="click->friendtabs#changeTab" data-friendtabs-target="friendtablink"  class="tab-underlined" id="alllocations">
      <span>Map</span>
    </li>
    <li data-action="click->friendtabs#changeTab" data-friendtabs-target="friendtablink" class="tab-underlined" id="findfriends">
      <span>Find friends</span>
    </li>
  </ul>

  <div data-friendtabs-target="friendtabcontent friendslist">
    <% if @friendships.count > 0 %>
      <p> You have <%= @friendships.count %> friends <p>
    <% else %>
      <p> you have no friends go and make some you turd <p>
    <% end %>

    <div class="cards">
      <% @friendships.each do |f| %>
          <div class="card-horizontal">
            <%= image_tag f.receiver.avatar, class: "card-horizontal img" %>
            <div class="card-horizontal-infos">
              <h2><%= f.receiver.username %></h2>
              <button type="button" class="btn btn-outline-dark">View Profile</button>
              <button type="button" class="btn btn-outline-danger mt-2">Remove</button>
            </div>
          </div>
      <% end %>
    </div>
  </div>

  <div data-friendtabs-target="friendtabcontent alllocations" class="d-none">
    <h5 class="text-center mb-5">Your finds</h5>
  </div>

  <div data-friendtabs-target="friendtabcontent findfriends" class="d-none">
    <h5>Find a friend</h5>
  </div>
</div>
