
<div class="banner" style="background-image: url(<%= asset_path "wallpaperflare.com_wallpaper.jpg"%>)">
    <p>Let's Explore!</p>
    <form action="/animals">
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="direct[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    </form>
    <div class="search-form-control form-group">
      <%= link_to "Find your animal", match_path, :class => "btn btn-flat" %>
    </div>
</div>
