
<div class="banner" style="background-image: url(<%= asset_path "wallpaperflare.com_wallpaper.jpg"%>)">
  <h1 class="text-center">Let's Explore!</h1>


  <%= link_to "Discover your animal", match_path, :class => "btn btn-flat mt-1" %>

</div>
