<div class="container">
  <h1> View all the animals here</h1>

  <div class="cards">
    <% @animals.each do |animal| %>
      <div class="card-animal">
        <%= animal.photo %>
        <div class="card-animal-infos">
          <h2><%= animal.name %></h2>
          <%= link_to "See details", animal_path(animal), :class => "btn btn-ghost text-center mt-3" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
