<div class="container">
  <div class="card-animal" style="">
    <img src="<%=@animal.photo%>" >
    <div class="card-animal-infos">
      <div>
        <h3 class="card-title text-center"><%= @animal.name %></h2>
        <p class="card-text text-center"><%= @animal.details %></p>
      </div>
    </div>
  </div>

  <div class="container d-flex justify-content-center">
    <%= link_to "See all animals", animals_path, class: "btn btn-ghost" %>
  </div>
</div>
