.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 100vh;
  width: 100%;
  opacity: 0.85;
}

.banner h1 {
  margin: 0px 0px 20px 0px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 45px;
  font-family: 'Luckiest Guy', cursive;
}

.banner h2 {
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
