

.card-horizontal {
  height: 8rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 2em;
  align-items: center;
  position: relative;
}

.card-horizontal-infos {
  padding: 8px 16px;
  //align on top
  position: absolute;
  top: 0.5rem;
  left: 7.5rem;
}

.card-horizontal h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-horizontal p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-horizontal img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  position: absolute;
  left: 0;
  margin: 0;
}

.card-horizontal .btn {
  position: absolute;
  right: 0.3rem;
  bottom: 0.3rem;
}

//***This span is for the date in /findings***
.card-horizontal span {
  position: absolute;
  top: -8px;
  right: 0px;
  font-size: 13px;
  color: white;
  font-weight: bold;
  background-color: #454955;
  padding: 5px;
  border-radius: 0px 0px 0px 5px;
}

.card-vertical {
  background-color: white;
  margin: 4em 2em 2em 2em;;
  // add shadow
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.card-vertical-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card-vertical-description {
  display: block;
  padding: 0px 1rem 0px 0px;
}

.card-vertical h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-vertical h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-vertical p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-vertical-cover-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
