

.card-horizontal {
  height: 8rem;
  width: 23rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 2em;
  align-items: center;
  position: relative;
}

.card-horizontal-infos {
  height: 8rem;
  padding: 8px 8px 8px 16px;
  //align on top
  position: absolute;
  top: 0.5rem;
  left: 7.5rem;
  width: 15.5rem;
}

.card-horizontal h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-horizontal p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-horizontal img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  position: absolute;
  left: 0;
  margin: 0;
}

.card-horizontal .btn {
  margin: 0;
}

.card-horizontal-bottom {
  display: flex;
  justify-content: flex-end;
}


//***This span is for the date in /findings***
.card-horizontal span {
  position: absolute;
  top: -8px;
  right: 0px;
  font-size: 13px;
  color: white;
  font-weight: bold;
  background-color: #454955;
  padding: 5px;
  border-radius: 0px 0px 0px 5px;
}


// Cards with the picture on the left
.card-vertical {
  background-color: white;
  margin: 4em 2em 2em 2em;;
  // add shadow
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.card-vertical-infos {
  padding: 14px;
  align-items: center;
  // position: relative;
}

.card-vertical-description {
  display: block;
  padding: 0px 1rem 0px 0px;
  margin-bottom: 0.6rem;
}

.card-vertical h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-vertical h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-vertical p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
  text-align: justify;
}

.card-vertical-cover-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-vertical .btn {
}

.card-vertical-bottom {
  display: flex;
  justify-content: flex-end;
}
