.footer {
  background-image: url("footer.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: rgba(0,0,0,0.3);
  padding: 15px 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  opacity: 0.7;
  // background-color: transparent;
}
.footer-links {
  display: flex;
  justify-content: space-around;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;

  i {
    color: white;
  }
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright{

  margin: auto 0 ;
  color: white;

}

i {
  color:white;
  &:hover{
    color: gray;
  }
}

.footer-transparent {
  background-image: none;
  background-color: rgba(49, 47, 47, 0);
}
