// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "footer";
@import "banner";
@import "button";
@import "search";

.p-home{
  margin-top: 150px;
  text-align: center;
  color: white;
  font-size: 30px;
}
