.mapboxgl-popup {
  max-width: 400px;
}

.mapboxgl-popup-content {
  text-align: center;
}

.mapboxgl-popup-content p {
  margin-bottom: 0.2rem;
}

.mapboxgl-canvas{
  height: unset !important;
  width: unset !important;
}
