.navbar-lewagon {
  justify-content: space-between;
  background-image: url("header.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-align: right;

}

.navbar-lewagon .navbar-brand img {
  width: 41px;
  color: white;
}

.nav-link {
  font-size: 30px;
  text-align: top;
  float: top;
  color: black;
  &:hover{
    color: black;
  }
}

.navbar-toggler{

  background-color: white;
}

.nav-item{

  color: white;
  font-weight: bold;
  font-size: 20px;

}


.dropdown-item{
  font-weight: bold;
  font-size: 30px;
  text-align: top;
  float: top;
  color:black;
  &:hover{
    color: black;
  }
}

.navbar-transparent {
  background-image: none;
  background-color: #312f2f;
}
