.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-align: right;

}

.navbar-lewagon .navbar-brand img {
  width: 41px;
  color: white;
}

.nav-link {
  color: white;
  font-size: 30px;
  text-align: top;
  float: top;
  &:hover{
    color: grey;
  }
}

.navbar-toggler{

  background-color: white;
}

.nav-item{

  color: white;
  font-weight: bold;
  font-size: 30px;

}
